<p><%= link_to "Main", root_path %></p>

<h1><%= @user.first_name%>'s profile</h1>

  <% if @user.profile_photo.nil? %>
    <% image_tag 'https://s3-us-west-2.amazonaws.com/lunchioneer-development/1.jpg'%>
  <% else %>
    <%= image_tag @user.profile_photo.url %>
  <% end %>

<% if @user == current_user %>
  <%= form_for @user do |f| %>
    <p>
    <%= f.label :profile_photo %>
    <%= f.file_field :profile_photo %>
    </p>
    <%= f.submit "Update Photo"%>
  <% end %>
<% end %>


<% if @user.kitchen.nil? %>
  <h2><%=link_to "Create your kitchen", new_user_kitchen_path(@user, @user.kitchen)%></h2>
<%else%>
 <h2> <%= link_to @user.kitchen.name, user_kitchen_path(@user, @user.kitchen)%></h2>
<% end %>

<h2>My Order History</h2>

<ul>
  <% @orders.each do |order|%>
    <li>
      <% if order.meal%>
        <p>Food: <%= order.meal.name%>
        <% if order.meal.user%>
        by: Chef <%= link_to order.meal.user.first_name, user_path(order.meal.user)%>
        <% else %>
        This chef does not exist anymore.
        <% end %>
        <% if order.meal.user.kitchen %>
           From <%=link_to order.meal.user.kitchen.name, user_kitchen_path(order.meal.user, order.meal.user.kitchen)%>
        <% else %>
          This kitchen does not exist anymore.
        <% end %>
          </p>
      <% else%>
        <p>This meal was deleted.</p>
      <% end %>
    </li>
  <% end %>
</ul>


<h2>My Meals</h2>
<ul>
  <% @meals.each do |meal| %>
   <li>
    <p><%=meal.name%></p>
    <p>About: <%=meal.description%></p>
    <p>Portion: <%=meal.portion%></p>
    <p>Price: $<%=meal.price%></p>
    <p>Date: <%=meal.created_at%></p>
  </li>
  <% end %>

