<h1><%= @user.first_name%>'s profile</h1>
<h2>Meals Order History</h2>
<ul>
  <% @user.meals.each do |meal| %>
   <li>
    <p><%=meal.name%></p>
    <p>About: <%=meal.description%></p>
    <p>Portion: <%=meal.portion%></p>
    <p>Price: $<%=meal.price%></p>
    <p>Date: <%=meal.created_at%></p>


  </li>
  <% end %>
