<ul class="example-orbit" data-orbit class = "slides">
  <li class="active" class = "slides">
    <%= image_tag "https://s3.amazonaws.com/lunchioneer-production/front/sushi1.jpg" %>
  </li>
  <li class="active" class = "slides" >
    <%= image_tag "https://s3.amazonaws.com/lunchioneer-production/front/soup2.jpg" %>
  </li>
  <li class="active" class = "slides">
    <%= image_tag "https://s3.amazonaws.com/lunchioneer-production/front/fruit2.jpg" %>
  </li>
</ul>

<div class = "row">
  <div class = "large-8 large-centered columns" id = "search-bar">
    <%= form_tag kitchens_path, method: :get do %>
      <div class = "row collapse" >
        <div class = "medium-10 columns">
          <%= text_field_tag :search, params[:search], placeholder: "enter your city"%>
        </div>

        <div class = "medium-2 columns">
          <button class ="tiny button" id="search_button" ><%= "search"%></button>
        </div>
      </div>
   <% end %>
  </div>
</div>

<div class = "row" data-equalizer>
  <div class = "large-4 columns" >
    <a class = "th" href = "http://meetandlunch.herokuapp.com/users/6/kitchens/6">
      <img src = "https://s3.amazonaws.com/lunchioneer-production/kitchens/french.jpg
" data-equalizer-watch>
        <div class = "caption">
          <h2>Mon Petit Café</h2>
        </div>
      </a>
  </div>

  <div class="large-8 columns" >
    <a class = "th"  href = "http://meetandlunch.herokuapp.com/users/2/kitchens/2">
      <img src="https://s3.amazonaws.com/lunchioneer-production/kitchens/th-kate.jpg" data-equalizer-watch>
      <div class="caption">
        <h2>Seafood Party</h2>
      </div>
    </a>
  </div>
</div>

<div class = "row" data-equalizer>
    <div class="large-6 columns">
      <a class = "th" href = "http://meetandlunch.herokuapp.com/users/5/kitchens/5">
        <img src= "https://s3.amazonaws.com/lunchioneer-production/kitchens/best-indian-food-pasadena.jpg" data-equalizer-watch>
        <div class="caption">
          <h2>New Delhi Deli</h2>
        </div>
      </a>
    </div>

    <div class="large-6 columns">
      <a class = "th" href = "http://meetandlunch.herokuapp.com/users/1/kitchens/1">
        <img src="https://s3.amazonaws.com/lunchioneer-production/kitchens/irish.jpeg" data-equalizer-watch>
        <div class="caption">
          <h2>Mary's Irish Cuisine</h2>
        </div>
      </a>
    </div>
  </div>

<div class="row" data-equalizer>
  <div class="large-8 columns">
    <a class = "th" href = "http://meetandlunch.herokuapp.com/users/3/kitchens/3">
      <img src="https://s3.amazonaws.com/lunchioneer-production/kitchens/tim.jpg" data-equalizer-watch>
      <div class="caption">
        <h2>Steak Professional</h2>
      </div>
    </a>
  </div>

  <div class="large-4 columns">
   <a class = "th"  href = "http://meetandlunch.herokuapp.com/users/4/kitchens/4">
      <img src="https://s3.amazonaws.com/lunchioneer-production/kitchens/th-mapo-tofu.jpg" data-equalizer-watch>
      <div class="caption">
        <h2>Sichuan Style</h2>
      </div>
    </a>
  </div>
</div>

<hr/>
<footer class="row">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p style = "font-family: Marker felt">© Copyright </p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li class = "footer_link"><a href="https://github.com/shuangliu12">Github</a></li>
            <li class = "footer_link"><a href="https://linkedin.com/in/shuangliu12">LinkedIn</a></li>
            <li class = "footer_link"><a href="http://www.absolart.com">Portfolio</a></li>
            <li class = "footer_link"><%= link_to 'About', welcome_about_path %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

