<h1>All Kitchens</h1>

<ul>
  <% @kitchens.each do |kitchen| %>
  <li>
    <p><%= link_to kitchen.name, user_kitchen_path(kitchen.user, kitchen) %>, <%= kitchen.user.first_name%></p>
    <p> <%= kitchen.address%>, <%= kitchen.city%>, <%= kitchen.state%>, <%= kitchen.zipcode%></p>
  </li>
  <% end %>
</ul>

