<h3><%=link_to "Lunchionner", root_path%></h3>

<% if @kitchen.kitchen_photo %>
  <%= image_tag @kitchen.kitchen_photo.url %>
<% end %>

<h1><%=@kitchen.name%></h1>
<% if current_user == @kitchen.user %>
  <p><%= link_to "Edit my kitchen profile", edit_user_kitchen_path(@kitchen.user, @kitchen)%></p>
  <p><%= link_to "Delete my kitchen", user_kitchen_path, method: :delete, data: {confirm: 'Are you sure you want to delete your kitchen?'}%></p>
<% end %>

<p>Rating: <%= @kitchen.cal_rating%></p>
<p>About: <%= @kitchen.description%>
<p>Where: <%= @kitchen.address%>, <%= @kitchen.city%>, <%= @kitchen.state%>, <%= @kitchen.zipcode%></p>

<h2>Lunch for Tomorrow</h2>
 <p><%= link_to "Create a new meal", new_meal_path%></p>
<ul>
  <% @meals.each do |meal| %>
   <li>
    <p><%= meal.name%></p>
    <% if current_user == meal.user %>
      <%= link_to "edit", edit_meal_path(meal)%>
      <%= link_to "delete", meal_path(meal), method: :delete, data: {confirm: 'Are you sure you want to delete your meal?'}%>
    <% end %>
    <p>About: <%=meal.description%></p>
    <p>Portion: <%=meal.portion%></p>
    <p>Price: $<%=meal.price%></p>
    <p>Date: <%=meal.created_at%></p>
    <% if user_signed_in? %>
      <% if meal.portion > 0 %>
        <%= link_to "Order", meal_orders_path(meal), method: :post%>
      <% else %>
        <p>Sold Out</p>
      <% end %>
    <% else %>
      <p>You need to <%=link_to "log in", user_session_path%> to make an order.</p>
    <% end %>
  </li>
  <% end %>
<%= paginate @meals %>


<% if current_user %>
    <%= form_for [@kitchen, @review] do |f| %>
      <% if @review.errors.any?%>
        <%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:
        <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.label :body, "Your Review" %><br>
      <%= f.text_area :body %>

    <p>
      <%= f.label :rating %><br>
      <%= f.select :rating, 1..5%>
    </p>
    <%= f.submit %>
  <% end %>

<% else %>
  <p>Please <%=link_to "sign in", user_session_path%>  to leave a review.</p>
<% end %>

<% if @reviews %>
  <% @reviews.each do |review|%>
    <p><%= review.user.first_name %>: <%= review.body %></p>
    <% if review.user == current_user || current_user. is_admin?%>
      <%= link_to "edit", edit_kitchen_review_path(@kitchen, review) %>
      <%= link_to "delete", kitchen_review_path(@kitchen, review), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
<% end %>
