<div>
  <%= image_tag @kitchen.kitchen_photo.url, class: "img" %>
</div>

<div class = "row">
  <div class = "large-8 large-centered columns" id = "kitchen_title">
    <h1><%=@kitchen.name%>
      <% if current_user == @kitchen.user %>
      <%= link_to "edit", edit_user_kitchen_path(@kitchen.user, @kitchen), class: "tiny button", class: "edit_button"%>

      <%= link_to "delete", user_kitchen_path, method: :delete, data: {confirm: 'Are you sure you want to delete your kitchen?'}, class: "tiny button", class: "edit_button"%>
    </h1>
    <% end %>
  </div>
</div>

<div class = "row" id = "kitchen_intro" data-equalizer>
    <div class = "large-2 columns" data-equalizer-watch>
      <div class="th">
        <%= image_tag @kitchen.user.profile_photo.url%>
      </div>

      <h5>
        <center>
          <strong>
          <%= link_to "Chef #{@kitchen.user.first_name}", user_path(@kitchen.user),class: "user" %>
          </strong>
      </center>
      </h5>
   </div>

    <div class = "large-10 columns" data-equalizer-watch>
      <p><strong>About:</strong> <%= @kitchen.description%><p>
      <p><strong>Where:</strong> <%= @kitchen.address%>, <%= @kitchen.city%>, <%= @kitchen.state%>, <%= @kitchen.zipcode%></p>
      <p><strong>Rating:</strong> <%@kitchen.cal_rating.times do%> <span id="hearts"><%= "♥" %></span><% end %><%(5 - @kitchen.cal_rating).times do%> <span id = "blank_hearts"><%= "♥" %></span><% end %> (<%= @kitchen.cal_rating%>/5)</p>
    </div>
</div>
<hr \>

<div class = "row">
  <center>
    <h2>
      Lunch Menu
    </h2>
    <% if current_user == @kitchen.user %>
      <%= link_to "Create a new meal", new_meal_path, class: "button", class: "meal_button"%>
    <% end %>
  </center>
</div>
<div class = "large-6 large-centered columns">
  <ul class="pricing-table">
    <% @meals.each do |meal| %>
      <li class="title" id = "table-title"> <strong><%= meal.name%></strong>
      <% if current_user == meal.user %>
        <%= link_to "edit", edit_meal_path(meal), class: "tiny button", class: "meal_edit" %>
        <%= link_to "delete", meal_path(meal), method: :delete, data: {confirm: 'Are you sure you want to delete your meal?'}, class: "tiny button", class: "meal_edit"%>
      <% end %>
      </li>
      <li class="description" id="des"><%=meal.description%></li>
      <li class="bullet-item">Portion: <%=meal.portion%></li>
      <li class="bullet-item">Price: $<%=meal.price%></li>
      <li class="bullet-item">Date: <%=meal.meal_date.to_date.strftime("%B %d, %Y")%></li>
    <% if user_signed_in? %>
     <% if meal.portion > 0 %>
      <li class="bullet-item"><%= link_to "Order", meal_orders_path(meal), method: :post, class: "large button", id: "order-button"%>
      </li>
        <% else %>
      <li class="bullet-item"> Sold Out </li>
        <% end %>
        <% else %>
          <li class="description">You need to <%=link_to "log in", user_session_path%> to make an order.</li>
        <% end %>
      <% end %>
  </ul>
  <%= paginate @meals %>
</div>

<div class = "row">
  <div class = "large-10 large-centered columns" >
    <% if current_user %>
    <%= form_for [@kitchen, @review] do |f| %>
      <% if @review.errors.any?%>
        <%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:
        <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    <span class = "large-12 columns">
      <%= f.label :body, "Your Review" %><br>
      <%= f.text_area :body %>
    </span>
     <span class = "large-2 columns">
      <%= f.label :rating %><br>
      <%= f.select :rating, 1..5%>
    </span>
    <span class = "large-12 columns">
      <%= f.submit class: "tiny button", class: "update_button"%>
    </span>
  <% end %>

<% else %>
  <p>Please <%=link_to "sign in", user_session_path%>  to leave a review.</p>
<% end %>
</div>
</div>

 <% if @reviews %>
  <div class = "row">

    <div class = "large-10 large-centered columns">
      <% @reviews.each do |review|%>
        <p>
          <span class = "large-2 columns">
            <%= image_tag review.user.profile_photo.url%>
          </span>
          <span class = "large-10 columns">
          <strong> <%= link_to review.user.first_name, user_path(review.user) , class: "user" %> </strong>
          <%= review.body %>
            <% if review.user == current_user %>
            <%= link_to "edit", edit_kitchen_review_path(@kitchen, review),class: "button", class: "review_button" %>
            <%= link_to "delete", kitchen_review_path(@kitchen, review), method: :delete, data: {confirm: "Are you sure?"}, class: "button", class: "review_button"%>
            <% end %>
            <br>
            <%review.rating.times do%> <span id="hearts"><%= "♥" %></span><% end %><%(5 - review.rating).times do%> <span id = "blank_hearts"><%= "♥" %></span><% end %>
            <br>
              <%= review.created_at.to_date.strftime("%B %d, %Y") %>
          </span>
          <hr \>
        </p>
  <% end %>
<% end %>
</div>
