<h3><%=link_to "Lunchioneer", root_path%></h3>

  <%= image_tag @kitchen.kitchen_photo.url%>

<h1><%=@kitchen.name%></h1>
<h3>Chef: <%= link_to @kitchen.user.first_name, user_path(@kitchen.user)%></h3>
<% if current_user == @kitchen.user %>
  <p><%= link_to "Edit my kitchen profile", edit_user_kitchen_path(@kitchen.user, @kitchen)%></p>
  <p><%= link_to "Delete my kitchen", user_kitchen_path, method: :delete, data: {confirm: 'Are you sure you want to delete your kitchen?'}%></p>
  <%= form_for @kitchen do |f| %>
    <p>
    <%= f.label :kitchen_photo %>
    <%= f.file_field :kitchen_photo %>
    </p>
    <%= f.submit "Update Photo"%>
  <% end %>
<% end %>

<p>Rating: <%= @kitchen.cal_rating%></p>
<p>About: <%= @kitchen.description%>
<p>Where: <%= @kitchen.address%>, <%= @kitchen.city%>, <%= @kitchen.state%>, <%= @kitchen.zipcode%></p>

<h2>Lunch for Tomorrow</h2>
 <p><%= link_to "Create a new meal", new_meal_path%></p>

<div class = "large-5 large-centered columns" >
  <ul class = "pricing-table">
    <% @meals.each do |meal| %>
     <li class="title"><%= meal.name%></li>
      <% if current_user == meal.user %>
        <%= link_to "edit", edit_meal_path(meal)%>
        <%= link_to "delete", meal_path(meal), method: :delete, data: {confirm: 'Are you sure you want to delete your meal?'}%>
      <% end %>
        <li class="description">About: <%=meal.description%></li>
        <li class="bullet-item">Portion: <%=meal.portion%></li>
        <li class="price">Price: $<%=meal.price%></li>
        <li class = "bullet-item">Date: <%=meal.created_at%></li>
        <% if user_signed_in? %>
          <% if meal.portion > 0 %>
            <li class = "cta-button"><%= link_to "Order", meal_orders_path(meal), method: :post%></li>
          <% else %>
            <li class="bullet-item">Sold Out</li>
          <% end %>
        <% else %>
          <p>You need to <%=link_to "log in", user_session_path%> to make an order.</p>
        <% end %>
      </li>
      <% end %>
</div>
  <%= paginate @meals %>

<div class = "large-10 large-centered columns" >
<% if current_user %>
    <%= form_for [@kitchen, @review] do |f| %>
      <% if @review.errors.any?%>
        <%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:
        <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.label :body, "Your Review" %><br>
      <%= f.text_area :body %>

    <p>
      <%= f.label :rating %><br>
      <%= f.select :rating, 1..5%>
    </p>
    <%= f.submit %>
  <% end %>

<% else %>
  <p>Please <%=link_to "sign in", user_session_path%>  to leave a review.</p>
<% end %>

<% if @reviews %>
  <% @reviews.each do |review|%>
    <p><%= review.user.first_name %>: <%= review.body %></p>
    <% if review.user == current_user %>
      <%= link_to "edit", edit_kitchen_review_path(@kitchen, review) %>
      <%= link_to "delete", kitchen_review_path(@kitchen, review), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
<% end %>
</div>
