<h1>Search Results</h1>
<ul>
  <% @meals.each do |meal| %>
    <% if meal.user.kitchen %>
    <li>
      <p><%= meal.name %>
        <%= link_to meal.user.kitchen.name, user_kitchen_path(meal.user, meal.user.kitchen) %>, Chef: <%=link_to meal.user.first_name, user_path(meal.user)%></p>
      <p><%= meal.user.kitchen.address%>, <%= meal.user.kitchen.city%>, <%= meal.user.kitchen.state%>, <%= meal.user.kitchen.zipcode%></p>
      <p>Price: $<%=meal.price%>, Portion: <%= meal.portion%></p>
      <% if current_user %>
        <%= link_to "Order", meal_orders_path(meal), method: :post%>
      <% else %>
        <p>Your need to <%=link_to "log in", user_session_path%> to place an order.</p>
      <% end %>
       </li>
    <% end %>
  <% end %>
  </ul>

<%= paginate @meals %>

<%=link_to "Main", root_path%>


