<!DOCTYPE html>
<html>
<head>
  <title>Lunchioneer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="large-2 columns">
    <h1><!-- <img src="http://placehold.it/400x100&text=Logo"> -->Lunchioneer</h1>
  </div>
  <div class="large-10 columns">
    <ul class="button-group right">
      <% if user_signed_in? %>
        <li><%= current_user.email%></li>
        <li><%= link_to 'Edit profile', edit_user_registration_path%> </li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %> </li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>


<div class = "container">

 <% if flash.any? %>
  <div class = "alert-box">
    <% flash.keys.each do |type| %>
      <%=flash[type] %>
    <% end %>
  </div>
 <% end %>
</div>



<%= yield %>

</body>
</html>
